body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

nav {
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px 0;
    display: block;
}

nav ul li a:hover {
    background-color: #000000;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.animated-name {
    font-size: 4em;
    margin: 0;
    animation: fadeIn 2s ease-in-out;
}

.animated-subtitle {
    font-size: 1.5em;
    margin: 10px 0 0;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    box-sizing: border-box;
}

.info-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1.2em;
    max-width: 600px;
    text-align: center;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section label {
    margin-top: 10px;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.contact-section button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #575757;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #333;
}


footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
